/* FOND DIVISION ET CONTAINER */
.division {
    background-color: #000000;
    padding: 70px 45px;
    position: relative;
    margin: auto;
}
.container {
    background-color: black;
    color:white;
    display: flex;
    margin: 0px 40px;
    justify-content: space-between;

}



